<?xml version="1.0"?>
<config>
		<browser>firefox</browser>
		<course>Jacaranda learnON History 8</course>
		<lscourse>Geography: Realms, Regions, and Concepts - Sixteenth Edition</lscourse>	
		<baseURL>http://10.0.0.247</baseURL>
		<LTIURL>http://idc-lti1.snapwiz.lan/</LTIURL>
		<LaunchURL>http://10.0.0.247/oAuth</LaunchURL>
		<customerkey>LearnOn</customerkey>
		<secretkey>oNGpjoQ6wB</secretkey>
		<resourselinkid>home</resourselinkid>
		<context_id>studcontext</context_id>
		<context_title>studtitle</context_title>
		<familyname>family</familyname>
		<givenname>givenname</givenname>
		<email>automation@snapwiz.com</email>
		<instance_guid>WileyPLUS</instance_guid>
		<instance_name>wileyplus.com</instance_name>		
		<courseID>9781118606544</courseID>
		<adaptiveCourseID>251</adaptiveCourseID>
		<lsCourseId>252</lsCourseId>
		<custom_instructor_classlist>[{"classid":"cls123","title":"Biology's 101","classcode":"BIO-101","state":"Active"},{"classid":"cls234","title":"Biology's 101","classcode":"BIO-101","state":"Active"}]</custom_instructor_classlist>
		<custom_destination>snapwiz-homepage</custom_destination>
		<custom_domainid>autodomain</custom_domainid >
		<custom_course_number>autocustno</custom_course_number>
		<custom_domain_name>studtitle</custom_domain_name>
		<dbconnecturl>jdbc:mysql://10.0.0.247:3306/</dbconnecturl>
		<dbName>mongrel</dbName>
		<dbdriver>com.mysql.jdbc.Driver</dbdriver>
		<dbuserName>dbuser</dbuserName>
		<dbPassword>dbpassword</dbPassword>		
		<FileUploadPath>\home\durgapathi\Downloads\</FileUploadPath>
		<cmsUserName>learnon1</cmsUserName>
		<cmsPassword>snapwiz</cmsPassword>
		<publisheradmin>wiley4aaa</publisheradmin>
        <supportEmail>build@snapwiz.com</supportEmail>
        <supportEmailPassword>snapwiz123</supportEmailPassword>
	    <downloadPath></downloadPath>
</config>