<?xml version="1.0"?>
<config>
    <browser>firefox</browser>
    <course>Contemporary Business 15e</course>
    <baseURL>http://10.0.0.240:8080</baseURL>
    <LTIURL>http://idc-lti1.snapwiz.lan/</LTIURL>
    <LaunchURL>http://10.0.0.240:8080/oAuth</LaunchURL>
    <customerkey>wileyplusproduction</customerkey>
    <secretkey>qp5bd658az8</secretkey>
    <resourselinkid>home</resourselinkid>
    <context_id>studcontext</context_id>
    <context_title>studtitle</context_title>
    <familyname>family</familyname>
    <givenname>givenname</givenname>
    <email>automation@snapwiz.com</email>
    <instance_guid>wileyplus.com</instance_guid>
    <instance_name>wileyPLUS</instance_name>
    <courseID>978-0470531297</courseID>
    <custom_destination>snapwiz-homepage</custom_destination>
    <custom_domainid>autodomainorion</custom_domainid >
    <custom_course_number>autocustno</custom_course_number>
    <custom_domain_name>studtitle</custom_domain_name>
    <custom_instructor_classlist>[{"classid":"cls123","title":"Biology's 101","classcode":"BIO-101","state":"Active"},{"classid":"cls234","title":"Biology's 101","classcode":"BIO-101","state":"Active"}]</custom_instructor_classlist>
    <lis_outcome_service_url>https://localhost:8090/oAuthConsumer/gradebookSyncTest?name1=value&amp;name2=value</lis_outcome_service_url>
    <dbconnecturl>jdbc:mysql://10.0.0.240:3306/</dbconnecturl>
    <dbName>mongrel</dbName>
    <dbdriver>com.mysql.jdbc.Driver</dbdriver>
    <dbuserName>dbuser</dbuserName>
    <dbPassword>dbpassword</dbPassword>
    <mongoHost>localhost</mongoHost>
    <mongoPort>27017</mongoPort>
    <FileUploadPath>/home/fileupload/</FileUploadPath>
    <downloadPath>/home/filedownload/</downloadPath>
    <cmsUserName>wiley1</cmsUserName>
    <cmsPassword>snapwiz</cmsPassword>
</config>